body {
	padding: 0 40px;
	/*	background-color: rgb(118, 187, 255);*/
}
.page-header {
	/*	background-color: rgb(179, 218, 255);;*/
	padding: 10px 20px;
	margin: 0;
	border-bottom: 0;
}
.page-header h1 {
	margin: 0;
}
.main {
	/*	background-color: antiquewhite;*/
	height: 500px;
	padding: 10px 20px;
	border-top: 1px solid grey;
}
.canaryCard {
	border: 1px solid gray;
	padding: 10px;
	width: 700px;
	position: relative;
}
.canaryStatus {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	display: inline-block;
	background-color: grey;
}